// shoutouts https://hihayk.github.io/shaper/#system-ui,%20sans-serif/1.25/1/1.8/0.8/1.65/0.5/254/31/50/5/0.5/2/false
// ===== css variables
:root {
  // typography
  --baseFontSize: 1rem;
  --fontSizeIncrement: 1.25;

  --font-size-s: calc(var(--baseFontSize) / var(--fontSizeIncrement));
  --font-size: var(--baseFontSize);
  --font-size-m: calc(var(--font-size) * var(--fontSizeIncrement));
  --font-size-l: calc(var(--font-size-m) * var(--fontSizeIncrement));
  --font-size-xl: calc(var(--font-size-l) * var(--fontSizeIncrement));
  --font-size-xxl: calc(var(--font-size-xl) * var(--fontSizeIncrement));

  --font-body:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  --font-heading: inherit;
  --font-monospace: Menlo, monospace;

  --font-weight-body: 400;
  --font-weight-heading: 700;
  --font-weight-bold: 700;

  // spacing
  --unit: 1rem;
  --spaceIncrement: 1.65;

  --space-xxs: calc(var(--space-xs) / var(--spaceIncrement));
  --space-xs: calc(var(--space-s) / var(--spaceIncrement));
  --space-s: calc(var(--space) / var(--spaceIncrement));
  --space: var(--unit);
  --space-m: calc(var(--space) * var(--spaceIncrement));
  --space-l: calc(var(--space-m) * var(--spaceIncrement));
  --space-xl: calc(var(--space-l) * var(--spaceIncrement));

  // padding
  --textFrameRatio: 1.8;
  --textFrameY: 0.8em;
  --textFrameX: calc(var(--textFrameY) * var(--textFrameRatio));

  // sizes
  --max-width-percent: 75%;
  --max-width-pixel: 1370px;

  --radius-xs: 10px;
  --radius-s: 0.2rem;
  --radius: 0.5rem;
  --radius-m: 0.8rem;
  --radius-l: 1.2rem;
  --radius-circle: 1000px;
}

// default theme colors
:root {
  color-scheme: light;

  --color-text: #21232b;
  --color-background: #e9eaf2;

  --color-muted: #6f7094;
  --color-link: #003ef5;

  // components

  // Alert
  --color-alert-neutral-text: #c3c7e5;
  --color-alert-neutral-background: #21232b;

  --color-alert-info-text: #fff;
  --color-alert-info-background: #623de9;

  --color-alert-danger-text: #fff;
  --color-alert-danger-background: #ff3e3e;

  // Button
  --color-button-background: #003ef5;
  --color-button-text: #fff;
  --color-button-hover-background: #1f57ff;
  --color-button-active-background: #0030be;

  --color-button-alt-background: #623de9;
  --color-button-alt-text: #fff;
  --color-button-alt-hover-background: #7755f0;
  --color-button-alt-active-background: #4b26d1;

  // Form
  --color-form-input-background: #d9dcec;
  --color-form-input-focused: #d4d8f0;
  --color-form-input-border: #9198c7;
}