.smallerGap {
  gap: 10px;
}

.wordBreak {
  word-break: break-all;
}

.form {

  label,
  input {
    display: block;
  }

  label {
    font-weight: var(--font-weight-bold);
  }

  label,
  .hint {
    margin-bottom: var(--space-s);
  }

  input[type="text"] {
    padding: var(--textFrameY);

    font-family: var(--font-body);
    font-size: var(--font-size);
    font-weight: 400 !important;
    line-height: 1;

    background-color: var(--color-form-input-background);
    border: 2px solid var(--color-form-input-border);

    &:focus {
      background-color: var(--color-form-input-background-focused);
    }
  }
}

.formRow {
  margin-bottom: var(--space);
}

.formList {
  padding-left: 1rem;
}